{
    "user": {
    "resolution": 5,
    "displayMode": 1,
    "gameRenderQuality": 4,
    "terrainQuality": 4,
    "graphicsAPI": "default",
    "max_fps": 30,
    "shadowsQuality": 4,
    "shadersQuality": 4,
    "components": {
      "vsync": true,
      "additiveLightPass": true,
      "worldLighting": true,
      "ambientOcculusion": true,
      "ambientCreatures": true,
      "softParticles": true,
      "antiAliasing": true,
      "highQualityDashboard": true,
      "treeWind": true,
      "normalMaps": true,
      "highQualityWater": true,
      "detailNormalMaps": true,
      "softVegetation": true
    }
  },
  "supported": {
    "resolutions": [
      {
        "name": "SVGA",
        "width": 800,
        "height": 600,
        "ratio": "4:3"
      },
      {
        "name": "XGA",
        "width": 1024,
        "height": 768,
        "ratio": "4:3"
      },
      {
        "name": "WXGA",
        "width": 1280,
        "height": 720,
        "ratio": "16:9"
      },
      {
        "name": "WXGA",
        "width": 1280,
        "height": 800,
        "ratio": "16:10"
      },
      {
        "name": "HD",
        "width": 1360,
        "height": 768,
        "ratio": "16:9"
      },
      {
        "name": "HD",
        "width": 1366,
        "height": 768,
        "ratio": "16:9"
      },
      {
        "name": "HD+",
        "width": 1600,
        "height": 900,
        "ratio": "16:9"
      },
      {
        "name": "WSXGA+",
        "width": 1680,
        "height": 1050,
        "ratio": "16:10"
      },
      {
        "name": "FHD",
        "width": 1920,
        "height": 1080,
        "ratio": "16:9"
      },
      {
        "name": "WUXGA",
        "width": 1920,
        "height": 1200,
        "ratio": "16:10"
      },
      {
        "name": "QHD",
        "width": 2560,
        "height": 1440,
        "ratio": "16:9"
      },
      {
        "name": "4K UHD",
        "width": 3840,
        "height": 2160,
        "ratio": "16:9"
      }
    ],
    "displayModes": [
      "ExclusiveFullscreen",
      "Fullscreen",
      "Maximized",
      "Windowed"
    ]
  }
}